<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shushang.huagongproject">

    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.RestPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.GongYingShangGuanlIActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".activity.CaiGouDingDanTongjiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.KuCunChaXunDetalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XinZengRenYuanXinXiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengDiaoBoDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengRuKuDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengXiaoShouDingDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengTuiHuoDingDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengGongYingShangXingXiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengKuHuXinXiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XInZengShangPinXinXiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.KaiPiaoDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.CaiGouDingDanDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XiaoShouDingDanDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.ShengChanRenWuDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.TuiHuoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XiaoShouDingDanTongJiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.TuiHuoTongJIActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.ShengChanRenWuDanTongJiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.KuCunChaXunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XiaoShouDingDanGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.CaiGouDingDanGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.KaiPiaoDanGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.DiaoBoDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.FaHuoDanGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.ShengChanRenWuDanGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.RukuGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.TuiHuoDanGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.ShouKuanGuanliActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.KeHuGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.ShangPinGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.RenYuanGuanLiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XinZengFaHuoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengShengChanRenWuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.XinZengCaiGouDingDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.BuMenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.ZhiWuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.EdtiRenYuanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar4">
        </activity>
        <activity
            android:name=".activity.EditKeHuXinXiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XingHaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.CaiGouDingDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.KeHuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.GuiGeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.ShenHeShengchandanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XiaoShouDingDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.XinZengXiaoShouDingDanShangPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity
            android:name=".activity.EditXiaoShouDingDanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2">
        </activity>
        <activity android:name=".activity.XiaoShouDingDanShangPinDetailActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar2"
            >
        </activity>
    </application>

</manifest>